Name: Kagen Lim

Completed as HW02 of QMSS-G5072, Modern Data Structures, Fall 2020.

Contact: [kagen.lim@columbia.edu](kagen.lim@columbia.edu)

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
peaks = pd.read_csv('data/peaks.csv')
expeditions = pd.read_csv('data/expeditions.csv')
members = pd.read_csv('data/members.csv')

# Question 1: Peaks

### What proportion of peaks is still unclimbed?

In [40]:
no_unclimbed_peaks = (peaks['climbing_status'] == 'Unclimbed').value_counts().loc[True]

total_no_peaks = peaks['climbing_status'].count()

print(no_unclimbed_peaks/total_no_peaks)

0.27136752136752135

### What is the average height of the climbed peaks vs. unclimbed peaks?

In [43]:
print(peaks.height_metres[peaks['climbing_status'] == 'Unclimbed'].mean())

print(peaks.height_metres[peaks['climbing_status'] == 'Climbed'].mean())

6523.330708661418
6706.284457478006

# Question 2: Sherpas

# Question 3: Gender

# Question 4: Accidents

# Question 5: Everest - A trophy?

In [8]:
print(peaks.head())

  peak_id      peak_name peak_alternative_name  height_metres climbing_status  \
0    AMAD     Ama Dablam          Amai Dablang           6814         Climbed
1    AMPG  Amphu Gyabjen                   NaN           5630         Climbed
2    ANN1    Annapurna I                   NaN           8091         Climbed
3    ANN2   Annapurna II                   NaN           7937         Climbed
4    ANN3  Annapurna III                   NaN           7555         Climbed

   first_ascent_year  first_ascent_country first_ascent_expedition_id
0             1961.0  New Zealand, USA, UK                  AMAD61101
1             1953.0                    UK                  AMPG53101
2             1950.0                France                  ANN150101
3             1960.0             UK, Nepal                  ANN260101
4             1961.0                 India                  ANN361101

In [9]:
print(expeditions.head())

  expedition_id peak_id     peak_name  year  season basecamp_date  \
0     ANN260101    ANN2  Annapurna II  1960  Spring    1960-03-15
1     ANN269301    ANN2  Annapurna II  1969  Autumn    1969-09-25
2     ANN273101    ANN2  Annapurna II  1973  Spring    1973-03-16
3     ANN278301    ANN2  Annapurna II  1978  Autumn    1978-09-08
4     ANN279301    ANN2  Annapurna II  1979  Autumn           NaN

  highpoint_date termination_date                termination_reason  \
0     1960-05-17              NaN               Success (main peak)
1     1969-10-22       1969-10-26               Success (main peak)
2     1973-05-06              NaN               Success (main peak)
3     1978-10-02       1978-10-05  Bad weather (storms, high winds)
4     1979-10-18       1979-10-20  Bad weather (storms, high winds)

   highpoint_metres  members  member_deaths  hired_staff  hired_staff_deaths  \
0            7937.0       10              0            9                   0
1            7937.0       10              0            0                   0
2            7937.0        6              0            8                   0
3            7000.0        2              0            0                   0
4            7160.0        3              0            0                   0

   oxygen_used trekking_agency
0         True             NaN
1        False             NaN
2        False             NaN
3        False             NaN
4        False             NaN

In [10]:
print(members.head())

  expedition_id     member_id peak_id   peak_name  year  season sex   age  \
0     AMAD78301  AMAD78301-01    AMAD  Ama Dablam  1978  Autumn   M  40.0
1     AMAD78301  AMAD78301-02    AMAD  Ama Dablam  1978  Autumn   M  41.0
2     AMAD78301  AMAD78301-03    AMAD  Ama Dablam  1978  Autumn   M  27.0
3     AMAD78301  AMAD78301-04    AMAD  Ama Dablam  1978  Autumn   M  40.0
4     AMAD78301  AMAD78301-05    AMAD  Ama Dablam  1978  Autumn   M  34.0

  citizenship expedition_role  ...  highpoint_metres  success   solo  \
0      France          Leader  ...               NaN    False  False
1      France   Deputy Leader  ...            6000.0    False  False
2      France         Climber  ...               NaN    False  False
3      France      Exp Doctor  ...            6000.0    False  False
4      France         Climber  ...               NaN    False  False

   oxygen_used   died  death_cause death_height_metres  injured  injury_type  \
0        False  False          NaN                 NaN    False          NaN
1        False  False          NaN                 NaN    False          NaN
2        False  False          NaN                 NaN    False          NaN
3        False  False          NaN                 NaN    False          NaN
4        False  False          NaN                 NaN    False          NaN

  injury_height_metres
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 21 columns]